

/* table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  text-align: left;
  padding: 8px;
}


th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  
  transition-duration: 500ms;
  background-color: #e9e9e9;
}

.NoAn{
  text-align: center;
 }
 button {
  transition-duration: 500ms;
  background-color: #353835;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 18px 2px;
  cursor: pointer;
  border-radius: 5px;

}

button:hover {
  transition-duration: 500ms;
  background-color: #000000;
}
h3{
  display: inline;
  padding: 5px;
}

h3 {
  
  font-size: 30px;
  padding-left: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: 21px;
}

#back {
  margin-left: 20px;
  margin-top: 30px;
}

.p1 {
  text-align: center;
  margin-top: 200px;
}

span{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 24px;
line-height:45px;
font-weight: lighter;

}

.frame {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  border: 5px solid #000;
  border-style: groove;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 1350px;
  height: 330px;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: fit-content;
  max-width: 100%;
  transform: translateX(12.5%);
}
 a {
  text-decoration: none;
  color: #000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.2s ease;
}
a:hover {
  color: #ff0000;
}
.Title {
  display: flex;
  align-items: center;
}

.Title {
  margin-right: 20px;
}
#p9 {
  margin: 8px;
  margin-top: 16px;
  font-size: 16px;
  animation: slide-in 0.5s ease-in-out;
}
#btmode,#addbt{
    float: right;
}
#btback{
  position: fixed;
  left: 95%;
  transform: translateX(-50%);
  bottom: 1px;
}
#dis{
  padding-left: 20px;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

  /* p:hover {
    
    color: #000000;
    text-decoration: none;
  } */
  
/* #bob {
  transition-duration: 500ms;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  border: none;
}

#bob:active {
  transition-duration: 500ms;
  background-color: #777777;
}

#bob:focus {
  transition-duration: 500ms;
  outline: none;
  border: 2px solid #000;
  border-style: groove;
  background-color: #e8e8e8;
  color: #000;
} */


 /* .page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.page #buttonpage.active {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px 20px;
}

.page #buttonpage:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #3c486b;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px;
} 

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */

/* ...and then apply it: */
/* #buttonpage {
  animation: slide-in 1000ms;
} */



